
@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Microsoft YaHei UI Light', Arial, Helvetica;
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button, input, select {
  font-family: 'Microsoft YaHei UI Light', Arial, Helvetica;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #c5c5c6;
}
#container{
  position: relative;
  width: 3.75rem;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.tab-selector {
  width: 3.75rem;
  position: fixed;
}

.tab-selector {
  overflow: hidden;
}
.tab-selector ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.tab-selector li {
  position: fixed;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  width: 0.7rem;
  height:0.34rem;
  text-align: center;
  font-size: 0.14rem;
  color: #c7c7c7;
}
.tab-selector-list{
  width: auto;
  cursor: pointer;
  margin-left: 0.7rem;
  height: 2rem;
}
.tab-selector-list > div{
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size: 0.1rem;
  width: 2.5rem;
}
.tab-selector-item{
  height:0.4rem;
  width: 3.75rem;
  color: #c7c7c7;
}
.tab-selector li.selected {
  color: #FD3259;
}
.tab-selector-list > div.selected {
  display: block;
  color: #c7c7c7;
}
